.DS_Store
._.DS_Store
._*
.fig-*
*.pyc
.envrc
screenlog.*
qsub_job_script*
tmp/
envs/
out/
renv/
_cache/
_files/
.md/
sandbox/
anaconda3/
miniconda3/
*.figures/
renv.lock
.png/
.future/
.Rproj.user
.Rprofile
packrat/lib*/
.RData
.Rhistory
rmarkdown/.gitignore
rmarkdown/packrat/
rmarkdown/archive/
.httr-oauth
*-checkpoint.ipynb
notebooks/misc/
*.ipynb_checkpoints








